/*Start contact*/

.contact {
    background-color: #26292B;
}
.contact-heading {
    margin-bottom: 3rem;
}
.fa,
.fa-envelope {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #00aca3;
    transition: color 650ms;
}
.fa-envelope:hover {
    color: #ff36bf;
}

.cta-email {
    display: flex;
    justify-content: center;
}


/*End contact*/