/*Start footer*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: #252525;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #C3BABA;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up:hover{
    background-color: #00aca3;
}
.up i {
    color: #313131;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.5rem;
}

/*End footer*/

/*Start animations*/
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(87, 192, 253, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}

/*End animations*/