/* nav bar*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem, 2rem;
}

.header a {
  text-decoration: none;
  color: var(--cream);
  font-size: 2rem;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 1rem;
  padding: 0.5em 1em;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

.menu-items li a:hover {
  background-color: var(--cream);
  color: var(--black);
}

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;

}

.menu-btn-lines,
.menu-btn-lines::before,
.menu-btn-lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: var(--cream);
  transition: all 0.5s ease-in-out;
}

.menu-btn-lines::before,
.menu-btn-lines::after{
  content: "";
  position: absolute;
}

.menu-btn-lines::before{
  transform: translateY(-0.5rem);
}
.menu-btn-lines::after{
  transform: translateY(0.5rem);
}

/* animation */

.menu-btn.open .menu-btn-lines{
  transform: translateX(2rem);
  background-color: transparent;
}
.menu-btn.open .menu-btn-lines::before{
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: var(--black);
}
.menu-btn.open .menu-btn-lines::after{
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: var(--black);
}

/*  media queries for burger menu and navigation for mobile devices */
@media screen and (max-width: 768px) {
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: var(--cream);
    transform: translateX(100vw);
    transition: transform 0.4s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: var(--black);
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    background-color: var(--black);
    color: var(--cream);
  }
}


