/*Start global*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
/* last font is to be used to write stay safe  and create with a dropshadow and text outline*/
/* font-family: 'Contrail One', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #C3BABA;
}

body{
    width: 100%;
    height: 100%;
    background-color: #232323;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); no-repeat center fixed;
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
}

section {
    padding: 6rem 0;
}

a{
    text-decoration: none;
    color: #C3BABA;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
    color: #C3BABA;
    font-family: 'Work Sans', sans-serif;
}

img{
    width: 80%;
    height: 80%;
}


text {
    fill:#ff36bf;
    font-size: 2rem;
  }

::selection {
    background-color: #00aca3;
    color: #eee;
}
/*End global*/


/*Start reusable*/

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    font-weight: 400;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: #C3BABA;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 1rem;
    font-family: 'Orbitron', sans-serif;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    margin-right: 5rem;
}
/*End reusable*/