/* title and sub headings font */
@font-face{
    src: url(../assets/fonts/cityburn.ttf );
    font-family: 'Cityburn', sans-serif;
}
@font-face {
    src: url(../assets/fonts/Copystruct-Normal.ttf );
    font-family: 'Copystruct', sans-serif;
}

body {
    font-family: 'Copystruct';
    color: var(--cream);
}
h1{
    font-size: 2rem;
    font-family: 'cityburn';
}

.card{
    line-height: 1.6;
}
.card-title{
    font-family: 'cityburn';
}

/* nav bar */
.navlinks a {
    color: var(--cream);
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    font-family: 'Cityburn';
}



/* projects page content type */
.projects p {
    text-transform: uppercase;
}

/* section type */
h2 {
    font-size: 2rem;
    font-family: 'cityburn';
    border: solid 0.2rem var(--cream);
    width: 18rem;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 3rem;
    padding: 1rem;
}

.top-text{
    margin: auto;
    width: 30rem;
    font-size: 1rem;
    line-height: 1.6;
}

@media screen and (max-width: 500px){
    .top-text{
        margin: auto;
        width: 20rem;
    }
}
